body{
    margin: 10px;
    background-image: url("img/cloud-01.gif");
    background-size: cover;
}

#title{
    width: 500px;
}
#marilyn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 15%;
}
ul a{
    font-size: 28px;
    color: rgb(66,123,177);
    text-decoration-line: none;
    
}
a:hover{
    color: rgb(222,82,113);
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

#gallery{
    width: 100%;
    border: 15px solid #FFFFFF;
}
#gallery_box{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}
